pymupdf==1.24.5
pymupdf4llm==0.16.11
pdf2image==1.17.0
pytesseract==0.3.13
Pillow==11.0.0
opencv-python==4.9.0.80
numpy==1.26.4
requests==2.32.3
python-dotenv==1.0.1
faiss-cpu==1.7.4
psutil==6.0.0
streamlit==1.40.1
ollama==0.3.2
langchain==0.2.6
langchain-community==0.2.6
pydantic==2.7.4
pydantic-settings==2.2.1
